<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="name">이름</label>
      &nbsp&nbsp&nbsp&nbsp<input type="text" id="name" name="name" placeholder="이름 입력"><br>

      <label for="name">id</label>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="id" name="ID" placeholder="ID 입력"><br>

      <label for="name">Passwd</label>
      <input type="text" id="passwd" name="passwd" placeholder="passwd 입력"><br>

    </div>
    <button type="submit">가입</button>
  </form>
</div> <!-- /container -->
</body>
</html>